@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
#delivery-method .content {
  position: relative;
}
.delivery-providers {
  margin-bottom: 0;
}
.delivery-providers tr.delivery-provider {
  cursor: pointer;
}
.delivery-providers tr.delivery-provider .radio {
  float: left;
  font: normal normal normal 14px/1 "Material Icons";
  text-transform: none;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  word-wrap: normal;
  top: 1px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-size: 2em;
  margin: 10px;
  color: #666;
}
.delivery-providers tr.delivery-provider .radio:before {
  content: "\e836";
}
.delivery-providers tr.delivery-provider.selected .radio:before {
  content: "\e837";
}
.delivery-providers tr.delivery-provider .service-image {
  max-width: 150px;
  max-height: 50px;
  text-align: center;
}
.delivery-providers tr.delivery-provider .service-image img {
  max-width: 100%;
  max-height: 100%;
}
.delivery-providers tr.delivery-provider .service-label {
  font-size: 14px;
  color: #333;
}
.delivery-providers tr.delivery-provider .service-price {
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 992px) {
  .delivery-method-nav.nav {
    margin-bottom: 10px;
  }
}
