@import (reference) "../../../../../../vendor/bower/bootstrap/less/bootstrap.less";


#delivery-method {
  .content {
    position: relative;
  }
}

.delivery-providers {

  margin-bottom: 0;

  tr.delivery-provider {
    cursor: pointer;
    .radio {
      float: left;
      font: normal normal normal 14px/1 "Material Icons";
      text-transform: none;
      letter-spacing: normal;
      line-height: 1;
      position: relative;
      word-wrap: normal;
      top: 1px;
      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      font-size: 2em;
      margin: 10px;
      color: #666;

      &:before {
        content: "\e836";
      }
    }

    &.selected .radio:before {
      content: "\e837";
    }

    .service-image {
      max-width: 150px;
      max-height: 50px;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .service-label {
      font-size: 14px;
      color: #333;
    }

    .service-price {
      font-weight: bold;
      font-size: 14px;
    }

    .service-time {
    }

  }
}

@media(max-width: @screen-md-min) {
  .delivery-method-nav.nav {
    margin-bottom: 10px;
  }
}
