.btn-group-lg {
  width: 100%;
}

.methods span, #pay span{
  float: left;
}

#payment-methods {
  .alert {
    margin-bottom: 0px;
  }
}

.payment-methods {
  padding-top: 20px;

  .payment-method {
    margin-bottom: 20px;
    display: inline-block;
    &.mk {
      display: block;
    }
    &:not(.mk) {
      margin-right: 20px;
    }
  }

  .payment-info {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }

  .payment-button {
    padding: 0px 30px;
    &.disabled {
      padding: 13px 40px;
    }
  }

  #cash-payment-button {
    padding-left: 10px;
    padding-right: 50px;
  }

  .btn {
    //transition-duration: 0.5s;
    &:hover {
      //background-color: inherit;
      border-color: #0d6aad;
    }
    &:active {
      background-color: inherit;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
    }
    &:focus {
      background-color: inherit;
      outline: none;
    }
  }
}

#pay {
  width: 200px;
  float: right;
}
