.btn-group-lg {
  width: 100%;
}
.methods span,
#pay span {
  float: left;
}
#payment-methods .alert {
  margin-bottom: 0px;
}
.payment-methods {
  padding-top: 20px;
}
.payment-methods .payment-method {
  margin-bottom: 20px;
  display: inline-block;
}
.payment-methods .payment-method.mk {
  display: block;
}
.payment-methods .payment-method:not(.mk) {
  margin-right: 20px;
}
.payment-methods .payment-info {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.payment-methods .payment-button {
  padding: 0px 30px;
}
.payment-methods .payment-button.disabled {
  padding: 13px 40px;
}
.payment-methods #cash-payment-button {
  padding-left: 10px;
  padding-right: 50px;
}
.payment-methods .btn:hover {
  border-color: #0d6aad;
}
.payment-methods .btn:active {
  background-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
.payment-methods .btn:focus {
  background-color: inherit;
  outline: none;
}
#pay {
  width: 200px;
  float: right;
}
/*# sourceMappingURL=payment.css.map */