<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}{% endblock %}</title>
<style type="text/css">
    body {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }
</style>

<body style="padding:0;border:0;background:#ffffff;width:100%;">
{% if messageSubject %}
    <h2 style="text-align: center">Subject: {{ messageSubject }}</h2>
<hr/>
{% endif %}
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="background:#ffffff;">
    <tr>
        <td align="center">
            <table cellspacing="0" cellpadding="0" border="0" width="550" align="center">
                <tr>
                    <td height="80">
                        <img src="{{ conf('url.public') }}images/logo_v2.png" width="323" height="142" alt="Logo"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="550" align="center">
                            <tr>
                                <td>
                                    <span class="greeting">{% block greeting %}{% endblock %}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="heading" cellspacing="0" cellpadding="0" border="0" width="550" align="center">
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td style="line-height: 30px">
                                    <span class="title">{% block heading %}{% endblock %}</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="550" align="center">
                            <tr>
                                <td>
                                    {% block content %}{% endblock %}
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>