<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ t('file/invoice', 'Invoice no. {number}', {'number': '<strong>' ~ invoice.number ~ '</strong>'}) }}</title>
    <style type="text/css">
        body {
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }
        .invoice-container {
            margin: auto;
            max-width: 1000px;
            padding: 0px;
            width: 100%;
        }
        .invoice-box {
            width: 100%;
            height: 960px;
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(4) {
            text-align: right;
        }

        .invoice-header-row tr td:nth-child(2) {
            text-align: right;
        }

        #invoice-table > thead > tr > td {
            padding-left: 0;
            padding-right: 0;
        }

        #invoice-table > tbody > tr > td:nth-child(3) {
            max-width: 100px;
            min-width: 50px;
            text-align: center;
        }
        #invoice-table > tbody > tr > td:nth-child(4) {
            max-width: 150px;
            min-width: 80px;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(3) {
            /*border-top: 2px solid #eee;*/
        }

        .invoice-box table tr.total td:nth-child(4) {
            /*border-top: 2px solid #eee;*/
            font-weight: bold;
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(4) {
            text-align: left;
        }

        .text-small {
            font-size: 12px;
        }

        .text-medium {
            font-size: 14px;
        }
        #invoice-footer {
            width: 100%;
            table-layout: fixed;
        }

        #invoice-footer td {
            vertical-align: bottom;
        }
        #invoice-footer p {
            padding-top: 2px;
            padding-bottom: 4px;
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 12px;
        }

    </style>
</head>

<body>
    <div class="invoice-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>