{% extends ["@templates/invoice_base.twig", "@phycom/base/templates/invoice_base.twig"] %}

{% set logo = logo|default(app.urlManagerFrontend.createAbsoluteUrl('/images/logo.png'))  %}
{% set logoW = logoW|default(200) %}
{% set vendor =  invoice.order.shop.vendor|default(app.vendor) %}
{% set cols = 4 %}

{% block content %}
    <div class="invoice-box">
    <table id="invoice-table" cellpadding="0" cellspacing="0">
        <thead>
            <tr class="top">
                <td colspan="{{ cols }}" style="padding: 0;">
                    <table class="invoice-header-row" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="title">
                                <img src="{{ logo }}" style="width:100%; max-width:{{ logoW }}px;">
                            </td>

                            <td style="padding-top: 30px;">
                                <div>
                                    {{ t('file/invoice', 'Invoice no. {number}', {'number': '<strong>' ~ invoice.number ~ '</strong>'}) }}<br>
                                </div>
                                <div class="text-medium">
                                    {{ t('file/invoice', 'Created at: {createdAt}', {'createdAt': invoice.created_at|date}) }}<br>
                                    {% if invoice.due_date %}
                                        {{ t('file/invoice', 'Due date: {dueDate}', {'dueDate': invoice.due_date|date}) }}<br>
                                    {% endif %}



                                    <br>
                                    <br>

                                    {% if invoice.order.user and invoice.order.user.reference_number %}
                                        {{ t('file/invoice', 'Reference number: {referenceNo}', {'referenceNo': invoice.order.user.reference_number}) }}<br>
                                    {% endif %}

                                    {% if invoice.notes %}
                                        {{ t('file/invoice', 'Notes') }}: {{ invoice.notes }}<br>
                                    {% endif %}

                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="{{ cols }}" style="padding: 0;">
                    <table class="invoice-header-row" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="text-medium">

                                {{ vendor.legal_name }}<br>
                                {{ t('file/invoice', 'Reg no. {number}', {'number': vendor.reg_number}) }}

                                <br>
                                <br>

                                {{ vendor.address.l2[0] }}<br>
                                {{ vendor.address.l2[1] }}<br>
                            </td>

                            <td class="text-medium">
                                {{ invoice.customer }}<br>
                                {% if invoice.reg_no %}
                                    {{ t('file/invoice', 'Reg no. {number}', {'number': '<strong>' ~ invoice.reg_no ~ '</strong>'}) }}<br>
                                {% endif %}
                                {{ invoice.order.email }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="heading">
                <td> {{ t('file/invoice', 'Code') }} </td>
                <td> {{ t('file/invoice', 'Item') }} </td>
                <td width="60"> {{ t('file/invoice', 'Qty') }} </td>
                <td width="100"> {{ t('file/invoice', 'Price') }} </td>
            </tr>

            {% for item in invoice.orderItems %}

                {% if loop.last %}
                    <tr class="item last">
                {% else %}
                    <tr class="item">
                {% endif %}

                    <td class="text-medium">{{ item.code }}</td>
                    <td class="text-medium">{{ item.label }}</td>
                    <td class="text-medium">{{ item.quantity }}</td>
                    <td>{{ item.totalPrice|currency }}</td>
                </tr>

            {% endfor %}

            <tr class="total">
                <td></td>
                <td></td>
                <td>{{ t('file/invoice', 'Total') }}:</td>
                <td>{{ invoice.total|currency }}</td>
            </tr>
        </tbody>
    </table>


    </div>
    <table id="invoice-footer" cellpadding="0" cellspacing="0" class="text-small">
        <tr>
            <td>
                <p>{{ vendor.legal_name }}</p>
                <p>{{ t('file/invoice', 'Reg no. {number}', {'number': vendor.reg_number}) }}</p>
                {% if vendor.options.vatNumber %}
                    <p>{{ t('file/invoice', 'VAT no. {number}', {'number': vendor.options.vatNumber}) }}</p>
                {% endif %}
            </td>

            <td>
                <p>{{ vendor.phone|phone }}</p>
                <p>{{ vendor.email }}</p>
                <p>{{ vendor.address.l2[0] ~ ', ' ~ vendor.address.l2[1] }}</p>
            </td>

            <td style="text-align: right;">
                {% for bank,account in vendor.options.paymentAccounts %}
                    <p>{{ bank }}: {{ account }}</p>
                {% endfor %}
            </td>
        </tr>
    </table>

{% endblock %}
