
{% extends ["@templates/email_base.twig", "@phycom/base/templates/email_base.twig"] %}

{% block title %}
    {{ t('email/order', '{appname}: New order #{orderno} received', {'appname': appname, 'orderno': order.number}) }}
{% endblock %}

{% block greeting %}
    {{ t('email/common', 'Hi {firstname},', {'firstname':firstname|e, 'gender': gender}) }}
{% endblock %}

{% block content %}
    <span class="content">
        <h3>{{ t('email/order', 'Notification for a new order #{orderno} received', {'appname': appname, 'orderno': order.number}) }}</h3>
    </span>
    <span class="content">
        {% if order.paid_at %}
            <br>{{ t('email/order', 'Order #{orderno} was paid at {payment_time}', {'payment_time': order.paid_at|datetime, 'orderno': order.number}) }}<br>
        {% else %}
            <br>{{ t('email/order', 'Order is pending payment') }}<br>
        {% endif %}
    </span>
    <span class="content">
        <a href="{{ link }}" target="_blank">{{ link }}</a>
    </span>
    <span class="content">
        <br>
        <br>
        <p>{{ t('email/order', 'Have a great day!') }}</p>
    </span>
{% endblock %}
