{% extends ["@templates/email_base.twig", "@phycom/base/templates/email_base.twig"] %}

{% block title %}
    {{ t('email/order', '{appname}: Order #{orderno} is complete', {'appname': appname, 'orderno': order.number}) }}
{% endblock %}

{% block greeting %}
    {{ t('email/common', 'Hi {firstname},', {'firstname':firstname|e, 'gender': gender}) }}
{% endblock %}

{% block content %}
    <span class="content">
        <h3>{{ t('email/order', 'Notification for order #{orderno} is complete', {'appname': appname, 'orderno': order.number}) }}</h3>
    </span>
    <span class="content">
        <br>
        <br>
        <p>{{ t('email/order', 'Have a great day!') }}</p>
    </span>
{% endblock %}
