{% extends ["@templates/email_base.twig", "@phycom/base/templates/email_base.twig"] %}

{% block title %}
    {{ t('email/order', '{appname}: Order #{orderno} is confirmed', {'appname': appname, 'orderno': order.number}) }}
{% endblock %}

{% block greeting %}
    {{ t('email/common', 'Hi {firstname},', {'firstname':firstname|e, 'gender': gender}) }}
{% endblock %}

{% block content %}
    <span class="content">
        <h3>{{ t('email/order', 'Notification for order #{orderno} is confirmed', {'appname': appname, 'orderno': order.number}) }}</h3>
    </span>
    <span class="content">
        {% if order.paid_at %}
            <br>{{ t('email/order', 'Order was paid at {payment_time}', {'payment_time': order.paid_at|datetime, 'orderno': order.number}) }}<br>
        {% endif %}
    </span>
    <span class="content">
        {{ t('email/order', 'Please find your invoice is attached to this email') }}
    </span>
    <span class="content">
        <br>
        <br>
        <p>{{ t('email/order', 'Have a great day!') }}</p>
    </span>
{% endblock %}
