{% extends ["@templates/email_base.twig", "@phycom/base/templates/email_base.twig"] %}

{% block title %}
    {{ t('email/common', '{firstname}, welcome to {appname}', {'firstname':firstname|e, 'appname': appname}) }}
{% endblock %}

{% block greeting %}
    <br>
    <br>
    {{ t('email/common', 'Hi {firstname}, welcome to {appname}', {'firstname':firstname|e, 'gender': gender, 'appname': appname}) }}
{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
    <span class="content">
        {{ t('email/confirm', 'Please click on the link to complete the registration process.') }}
    </span>
    <br/>
    <br/>
    <span class="content">
        <a href="{{ link }}" target="_blank">{{ link }}</a>
    </span>
{% endblock %}
